@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');

/* structure des pages du site */
*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
 
}

section{
    z-index: 2;
    display: none;
}

section:target{
    z-index: 2;
    display:block;
    height: 100vh;
}

/* barre de navigation */
nav{
    z-index : 2;
    display : flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    margin-top: 0px;
    border: solid 4px #0591ee;
    height: 75px;
    padding: 0 7px;
    box-shadow: 4px 4px 15px -7px #000000;
    position: fixed;
    top : 0;
    width: 100%;
}

a{
    text-decoration:none !important;
    color : black;
    padding: 5px;
    position: relative;
    transition-duration: 1s;
    border : solid 1px #585858;


}

a:hover {
    border-color : #444655;
    background-color: #0591ee; 
    color: #ffffff;
}

/* page accueil */

.ac h1 {
    margin-top: 50%;
    z-index: 2;
}

.ac1{
    background-color: #ffffff;
    padding: 5px;
    height: 28%;
    margin-top: 90px;
    text-align: center;
    border-radius: 10px;
    border : 4px solid #0591ee;
    color : black;
}

#accueil:target{
    z-index: 2;
    display : flex;
    justify-content: center;
    background-color: #ffffff;

}

.ac2{
    background-color: #ffffff;
    width: 500px;
    height: 28%;
    margin-top: 90px;
    text-align: center;
    border-radius: 10px;
    border : 4px solid #0591ee;
    margin-left: 10px;
    color : black;
    font-size: 150%;
}

/* page propos */

.prop1{
    z-index: 2;
    background-color: #585858;
    width: 200px;
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
    border : 2px solid #0591ee;
    color : #ffffff;
}

.prop2{
    z-index: 2;
    background-color: #585858;
    width: 500px;
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
    border : 2px solid #0591ee;
    margin-left: 10px;
    color : #ffffff;
    font-size: 150%;
}

#propos:target{
z-index: 2;
display : block;
}

/* page expèrience */

.stage1{
    z-index: 2;
    margin-top: 85px;
    background-color: #ffffff;
    border : 2px solid #0591ee;
    width: 800px;
    border-radius: 10px;
    color : black;
    padding: 5px;
    box-shadow: 4px 4px 15px -7px #000000;
}

.stage1 p{
    line-height: 25px;
}

.buttonexp{
    z-index: 2;
    margin-top: 85px;
    text-align: center;
    background-color: #ffffff;
    border : 2px solid #0591ee;
    width: 180px;
    padding: 5px;
    border-radius: 10px;
    color : black;
    box-shadow: 4px 4px 15px -7px #000000;
    align-items: center; 
}

.top{
    width: 1000px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom{
    width: 1000px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrapperexp{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* footer */

.cloud {
    width: 100px;
    height: 100px;
}

.fcloud01 {
    margin-bottom: 50px;
    z-index: 100;
    animation: drift 10s linear infinite;
} 

.fcloud02 {
    bottom: 130px;
    z-index: 500;
    animation: drift 10s 2s linear infinite both;
    
} 


@keyframes drift {
    from {
        transform: translateX(-200px);
    }
    to {
        transform: translateX(1920px);
    }
}

wrappertwitter{
    position: relative;
}


/* background */

.container{
    z-index : 1
}

.col-md-12 {
    background: #f1f1f1;
    margin-top: 50px;
    overflow: hidden;
    z-index : 1
}

.a-one {
  z-index : 1;
  width: 100px;
  height: 100px;
  background-color: #0b9fe4;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 150px;
  animation: MoveUpDown 5s linear infinite;
}

.a-two {
  width: 150px;
  height: 150px;
  background-color: #24a4ee;
  opacity: 0.7;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 200px;
  animation: MoveUpDownTwo 9s linear infinite;
}

.a-three {
  width: 120px;
  height: 120px;
  background-color: #0393cc;
  opacity: 0.2;
  border-radius: 50%;
  position: absolute;
  bottom: 120px;
  left: 300px;
  animation: MoveUpDownThree 5s linear infinite;
}

.a-four {
  width: 80px;
  height: 80px;
  background-color: #197af8;
  opacity: 0.4;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  animation: MoveUpDownFour 15s linear infinite;
}

.a-five {
  width: 50px;
  height: 50px;
  background-color: #0395e9;
  opacity: 0.9;
  border-radius: 50%;
  position: absolute;
  bottom: 200px;
  right: 0;
  animation: MoveUpDownFive 8s linear infinite;
}

.a-six {
  width: 175px;
  height: 175px;
  background-color: #20a3ee;
  opacity: 0.6;
  border-radius: 50%;
  position: absolute;
  bottom: 250px;
  right: 200px;
  animation: MoveUpDownSix 7s linear infinite;
}

.a-seven {
  z-index : 1;
  width: 250px;
  height: 250px;
  background-color: #028be69e;
  opacity: 0.3;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 450px;
  right: 0;
  animation: MoveUpDownSeven 6s linear infinite;
}

.a-eight {
  width: 75px;
  height: 75px;
  background-color: #2699f7;
  opacity: 0.4;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 350px;
  animation: MoveUpDownEight 11s linear infinite;
}

.a-nine {
  width: 45px;
  height: 45px;
  background-color: #0185dd;
  opacity: 0.7;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 450px;
  animation: MoveUpDownNine 12s linear infinite;
}

.a-ten {
  width: 150px;
  height: 150px;
  background-color: #0791c7;
  opacity: 0.6;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 450px;
  animation: MoveUpDownTen 10s linear infinite;
}

@keyframes a-one {
  from { top: 0; left: 0; }
  to   { top: 100px; left: 100px; }
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 700px;
  }
}

@keyframes MoveUpDownTwo {
  0%, 100% {
    left: 0;
  }
  50% {
    bottom: 650px;
  }
}

@keyframes MoveUpDownThree {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 660px;
  }
}

@keyframes MoveUpDownFour {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 640px;
  }
}

@keyframes MoveUpDownFive {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 610px;
  }
}

@keyframes MoveUpDownSix {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 675px;
  }
}

@keyframes MoveUpDownSeven {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 600px;
  }
}

@keyframes MoveUpDownEight {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 680px;
  }
}

@keyframes MoveUpDownNine {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 655px;
  }
}

@keyframes MoveUpDownTen {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 645px;
  }
}
